.first {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1.5s;
}

.first:hover {
    transform: scale(2) translate(50px, 50px) rotate(45deg) skew(30deg);
    /* width: 200px;
    background-color: yellow; */
}

img {
    width: 300px;
}

.second {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: animation-for-second;
    animation-duration: 7s;
    /* animation-iteration-count: infinite; */
}

.card-parent {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid red;
    border-radius: 12px;
    overflow: hidden;
    transition: 1.2s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 2px 1px 74px 10px rgba(244,29,29,0.75);

}


@keyframes animation-for-second {
    0% {
        width: 100px;

    25%{
        width: 50px;
    }
    }
    50% {
        width: 400px;
    }

    75% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

.parent-typing-effect {
    margin-top: 50px;
    display: flex;
}


.typing-effect {
    font-size: 24px;
    animation: typing-effect .5s, change-width 2s steps(32, end);
    animation-iteration-count: infinite;

    white-space: nowrap;
    overflow: hidden;
    
}

@keyframes change-width {
    0% {
        width: 0;
    }
    25% {
        width: 0;
    }
    50% {
        width: 100%;
    }
}

@keyframes typing-effect {
    0% {
        /* width: 0; */
        border-right: none;
    }
    100% {
        /* width: 100%; */
        border-right: 1px solid black;
    }
}